{% extends 'base.html' %}
{% block content %}

<div class="area__watchingDetail area__global">
    <h2 class="text-center pt-2"><strong>{{ student_id }}번 학생 세부 정보</strong></h2>
    <h4 class="text-center border-bottom pb-3">시험 번호 : {{ test_room_id }}</h4>

    <div class="container container1 p-3 float-left">
        <h3 class="text-center border-bottom py-2">학생 화면</h3>
        <img class="{{ student_id }}" src="/static/img/no_screen.png" width="100%"/>
    </div>

    <div class="container container2 p-3 float-left">
        <h3 class="text-center border-bottom py-2">부정행위 로그 리스트</h3>
        <div id="log_list"></div>
    </div>
</div>

<script>
    // 로그 리스트에 추가
    function addLog(type, date, image) {
        html = '';
        html += '<div class="card mt-1 mb-1" style="width: 100%;">';
        html += '<div class="row no-gutters">';
        html += '<div class="card-body">';
        html += '<span class="card-text" style="white-space: pre-line;">' + type + '</span>';
        html += '<span class="card-text" style="white-space: pre-line;"><br>' + date + '</span>';
        if(image === 'data:image/jpeg;base64,' + 'None' || image === 'None') {}
        else {
            html += '<img class="float-right" src="' + image + '" style="max-width:200px; max-height: auto;">';
        }
        html += '</div></div></div>';
        $('#log_list').append(html);
    }

    // 지속적으로 부정행위 로그 요청
    let timeoutHnd = null;
    let timeInterval = 5 * 1000;

    function log_ajax() {
        $.ajax({
            url: '{{ url_for("test_room.watching_detail_log_ajax", test_room_id=test_room_id, student_id=student_id) }}', 
            type: 'POST', 
            dataType: 'JSON', 
            success: (json_list) => {
                if(json_list[0]["length"] !== "0") {
                    for(let i = 1; i < json_list.length; i++) {
                        // console.log(json_list[i]["type"], json_list[i]["date"], json_list[i]["image"]);
                        addLog(json_list[i]["type"], json_list[i]["date"], 'data:image/jpeg;base64,' + json_list[i]["image"]);
                    }
                }   
            }, 
            error: () => {
                console("Log ajax error!!");
            }
        });

        resetTimer();
    }

    function resetTimer() {
        clearTimeout(timeoutHnd);
        timeoutHnd = setTimeout('log_ajax();', timeInterval);
    }

    // 지속적으로 화면 이미지 요청 및 변경
    let timeoutHnd_ = null;
    let timeInterval_ = 0.5 * 1000;

    function image_ajax() {
        $.ajax({
            url: '{{ url_for("test_room.watching_detail_image_ajax", test_room_id=test_room_id, student_id=student_id) }}', 
            type: 'POST', 
            dataType: 'JSON', 
            success: (json_data) => {
                $("." + "{{ student_id }}").attr("src", "data:image/jpeg;base64," + json_data["image"]);
            }, 
            error: () => {
                console.log("Image ajax error!!");
            }
        });
        resetTimer_();
    }

    function resetTimer_() {
        clearTimeout(timeoutHnd_);
        timeoutHnd_ = setTimeout('image_ajax();', timeInterval_);
    }

    // 다큐먼트 로드 시
    $(document).ready(() => {
        // 로그 데이터 로딩
        '{% for log in log_list %}';
            type = '{{ log["type"] }}';
            date = '{{ log["date"] }}';
            image = "";
            if ('{{ log["image"] }}' === "None") {
                image = "None"
            }
            else {
                image = "data:image/jpeg;base64," + '{{ log["image"] }}';
            }
            addLog(type, date, image);
        '{% endfor %}'

        // 지속적으로 부정행위 로그 요청
        timeoutHnd = setTimeout('log_ajax();', timeInterval); 
    
        // 지속적으로 화면 이미지 요청 및 변경
        timeoutHnd_ = setTimeout('image_ajax();', timeInterval_); 

    });
</script>

{% endblock %}