{% extends 'base.html' %}
{% block content %}

<h2 class="border-bottom px-3 py-3">시험 번호 : {{ test_room_id }}</h2>

<div class="container m-3 float-left" style="width: 32%;">
    <h3 class="border-bottom py-2">시험 시간 설정</h3>
    <form>
        <input type="date" id="dateForm" value='{{ date }}'>
        <input type="time" id="starttimeForm" value='{{ start_time }}'>
        ~
        <input type="time" id="endtimeForm" value='{{ end_time }}'>
    </form>
</div>

<div class="container m-3 float-left" style="width: 25%;">
    <h3 class="border-bottom py-2">차단 프로그램 등록</h3>
    <form action="" onsubmit="return addProgram();">
        <input type="text" class="form-control addProgramValue" placeholder="프로그램이름.exe">
    </form>
    <h3 class="border-bottom py-2 mt-5">차단 프로그램 리스트</h3>
    <ul class="list-group ProgramList" id="plist"></ul>
</div>


<div class="container m-3 float-left" style="width: 35%;">
    <h3 class="border-bottom py-2">학생 등록</h3>
    <form enctype="multipart/form-data">
        <ul class="list-group mb-3">
            <li class="list-group-item">학생 사진을 등록하십시오.</li>
            <li class="list-group-item">파일 이름을 학번으로 설정하십시오.</li>
        </ul>
        <div class="custom-file">
            <input type="file" class="custom-file-input" id="input_images" name="images[]" multiple>
            <label class="custom-file-label" data-browse="Browse">Upload one or more files</label>
        </div>
    </form>
    <h3 class="border-bottom py-2 mt-5">학생 사진 리스트</h3>
    <div id="image_list"></div>
</div>

<div style="position: fixed; bottom: 5%; left: 2%;">
    <a href="{{ url_for('test_room.delete', test_room_id=test_room_id) }}" class="btn btn-primary btn-lg m-1">시험 삭제</a>
    <button class="btn btn-primary btn-lg" id="editTestRoomBtn">시험 수정</button>
</div>


<script>
    // 시작 시간 변경 시 종료 시간 자동 변경 (+1시간)
    $('#starttimeForm').change(() => {
        startTime = $('#starttimeForm').val();
        h = Number(startTime.slice(0, 2)) + 1;
        if (h < 10) {
            h = '0' + h;
        }
        m = startTime.slice(3, 5);
        $('#endtimeForm').attr({'value': h + ':' + m});
    });

    // 프로그램 차단 리스트에 추가
    let block_list = [];
    function addProgram(value = null) {
        let i = block_list.length;
        if (value == null) {
            value = document.querySelector(".addProgramValue").value;
        }
        let li = document.createElement("li");
        let button = document.createElement("button");

        button.className = "btn btn-primary float-right deleteBtn" + i;
        button.innerHTML = "삭제";
        li.className = "list-group-item";
        li.innerHTML = value;
        li.appendChild(button);

        document.querySelector(".ProgramList").appendChild(li);
        document.querySelector(".deleteBtn" + i).addEventListener("click", deleteProgram);
        document.querySelector(".addProgramValue").value = "";

        block_list.push(value);
        return false;
    }

    // 프로그램 차단 리스트에서 삭제
    function deleteProgram() {
        const index = $(this).parent().index();
        console.log(index);
        block_list.splice(index,1);
        this.parentNode.parentNode.removeChild(this.parentNode);
        console.log(block_list);
    }

    // 학생 리스트에 추가
    let image_list = [];
    const input_images = document.getElementById("input_images");
    input_images.addEventListener("change", uploadImages, false);
    function uploadImages(images = null) {
        if (images.type == "change") {
            images = this.files;
        }
        let bufferLen = image_list.length;
        for (let i = 0; i < images.length; i++) {
            let image = images[i];
            console.log(image);
            image_list.push(image);
            let div1 = document.createElement("div");
            div1.className = "card mt-1 mb-1";
            div1.style.width = "100%";
            let div2 = document.createElement("div");
            div2.className = "row no-gutters";

            let img = document.createElement("img");
            img.src = URL.createObjectURL(image);
            img.style = "max-width:100px; max-height: 130px;";
            div2.appendChild(img);

            let div3 = document.createElement("div");
            div3.className = "card-body";

            let span = document.createElement("span");
            span.className = "card-text";
            span.style = "white-space: pre-line;";
            span.innerText = image.name;
            div3.appendChild(span);

            let button = document.createElement("button");
            button.className = "btn btn-primary float-right deleteImgBtn" + (i + bufferLen);
            button.innerText = "삭제";
            button.addEventListener("click", deleteImage);
            div3.appendChild(button);

            div2.appendChild(div3);
            div1.appendChild(div2);
            document.getElementById("image_list").appendChild(div1);
        }
    }

    // 학생 리스트에서 삭제
    function deleteImage() {
        let index = $(this).parent().parent().parent().index();
        image_list.splice(index,1);
        this.parentNode.parentNode.parentNode.parentNode.removeChild(this.parentNode.parentNode.parentNode);
    }

    // BLOB 데이터를 파일로 변환
    // function blobToFile(theBlob, fileName){    
    //     // theBlob = new Blob(theBlob);
    //     return new File([theBlob], fileName, { lastModified: new Date().getTime(), type: 'image/jpeg' })
    // }

    // function _base64ToArrayBuffer(base64) {
    //     var binary_string = window.atob(base64);
    //     var len = binary_string.length;
    //     var bytes = new Uint8Array(len);
    //     for (var i = 0; i < len; i++) {
    //         bytes[i] = binary_string.charCodeAt(i);
    //     }
    //     return bytes.buffer;
    // }

    // 이미지 url을 파일 형태로 변환
    const dataURLtoFile = (dataurl, fileName) => {
        var arr = dataurl.split(','),
            mime = arr[0].match(/:(.*?);/)[1],
            bstr = atob(arr[1]), 
            n = bstr.length, 
            u8arr = new Uint8Array(n);
            
        while(n--){
            u8arr[n] = bstr.charCodeAt(n);
        }
        return new File([u8arr], fileName, {type:mime});
    }

    // 기존 데이터 로딩
    $(document).ready(() => {
        // 프로그램 차단 리스트 로딩
        '{% for b in block_list %}'
            addProgram('{{ b }}');
        '{% endfor %}'

        // 학생 리스트 로딩
        let images = [];
        '{% for img in image_list %}'
            console.log('{{ student_list[loop.index - 1] }}');
            image = "data:image/jpeg;base64," + '{{ img }}';
            file = dataURLtoFile(image, '{{ student_list[loop.index - 1] }}' + ".jpg");
            console.log(file);
            images.push(file);
        '{% endfor %}'
        uploadImages(images);
    });

    // 시험 수정 버튼 클릭 시 서버로 데이터 전송
    $('#editTestRoomBtn').click( () => {     
        // let con = confirm("시험을 수정하시겠습니까?");

        let block_list_string = "";
        for (let i = 0; i < block_list.length; i++) {
                block_list_string += block_list[i] +";"
        }
        
        let date = document.getElementById('dateForm').value;
        let start_time = document.getElementById('starttimeForm').value;
        let end_time = document.getElementById('endtimeForm').value;

        let formdata = new FormData();
        formdata.append('test_room_id', '{{ test_room_id }}');
        formdata.append('professor_id', '{{ g.user.id }}');
        formdata.append('block_list', block_list_string);
        formdata.append('date', date);
        formdata.append('start_time', start_time);
        formdata.append('end_time', end_time);
        formdata.append('length', image_list.length);
        for (let i = 0; i < image_list.length; i++) {
            formdata.append(i, image_list[i]);
        }
            
        $.ajax({
            url: '{{ url_for("test_room.edit_ajax") }}',
            type: 'POST',
            contentType: false,
            processData: false,
            data: formdata,
            success: function(response) {
                console.log(block_list);
                console.log(image_list);
                console.log("ajax 통신 성공!" + response);
            },
            error: function(request, status, error) {
                console.log("ajax 통신 실패!");
                console.log(status);
                console.log(error);
            }
        });

        // 메뉴 페이지로 이동
        // alert("시험이 수정되었습니다!!");
        location.href = "{{ url_for('test_room.menu') }}";
    });

</script>

{% endblock %}