{% extends 'base.html' %}
{% block content %}

<h2 class="border-bottom px-3 py-3">시험 번호 : {{ test_room_id }}</h2>

<div class="container m-3 float-left" style="width: 32%;">
    <h3 class="border-bottom py-2">시험 시간 설정</h3>
    <form>
        <input type="date" id="dateForm">
        <input type="time" id="starttimeForm">
        ~
        <input type="time" id="endtimeForm">
    </form>
</div>

<div class="container m-3 float-left" style="width: 25%;">
    <h3 class="border-bottom py-2">차단 프로그램 등록</h3>
    <form action="" onsubmit="return addProgram();">
        <input type="text" class="form-control addProgramValue" placeholder="프로그램이름.exe">
    </form>
    <h3 class="border-bottom py-2 mt-5">차단 프로그램 리스트</h3>
    <ul class="list-group ProgramList" id="plist"></ul>
</div>


<div class="container m-3 float-left" style="width: 35%;">
    <h3 class="border-bottom py-2">학생 등록</h3>
    <form enctype="multipart/form-data">
        <ul class="list-group mb-3">
            <li class="list-group-item">학생 사진을 등록하십시오.</li>
            <li class="list-group-item">파일 이름을 학번으로 설정하십시오.</li>
        </ul>
        <div class="custom-file">
            <input type="file" class="custom-file-input" id="input_images" name="images[]" multiple>
            <label class="custom-file-label" data-browse="Browse">Upload one or more files</label>
        </div>
    </form>
    <h3 class="border-bottom py-2 mt-5">학생 사진 리스트</h3>
    <div id="image_list" style="overflow: scrooo; height: 500px;"></div>
</div>

<button class="btn btn-primary btn-lg" id="makeTestRoomBtn" style="position: fixed; bottom: 5%; left: 2%;">시험 생성</button>

<!-- script -->
<script>    
    // 시험 시간 설정
    let today = new Date().toISOString();
    let dateForm = document.getElementById('dateForm');
    dateForm.value = today.slice(0, 10);
    dateForm.min = today.slice(0, 10);

    // 시작 시간 변경 시 종료 시간 자동 변경 (+1시간)
    $('#starttimeForm').change(() => {
        startTime = $('#starttimeForm').val();
        h = Number(startTime.slice(0, 2)) + 1;
        if (h < 10) {
            h = '0' + h;
        }
        m = startTime.slice(3, 5);
        $('#endtimeForm').attr({'value': h + ':' + m});
    });

    // 블락 리스트에 추가
    let i = 0;
    let program_list = []; // 프로그램 리스트 저장
    function addProgram() {
        let value = document.querySelector(".addProgramValue").value;
        let li = document.createElement("li");
        let button = document.createElement("button");

        button.className = "btn btn-primary float-right deleteBtn" + i;
        button.innerHTML = "Delete";
        li.className = "list-group-item";
        li.innerHTML = value;
        li.appendChild(button);

        document.querySelector(".ProgramList").appendChild(li);
        document.querySelector(".deleteBtn" + i).addEventListener("click", deleteProgram);
        document.querySelector(".addProgramValue").value = "";

        program_list.push(value);
        i++;
        return false;
    }

    // 블락 리스트에서 삭제
    function deleteProgram() {
        const index = $(this).parent().index();
        console.log(index);
        program_list.splice(index,1);
        this.parentNode.parentNode.removeChild(this.parentNode);
        console.log(program_list);
    }
    
    // 이미지 리스트에 추가
    const input_images = document.getElementById("input_images");
    input_images.addEventListener("change", uploadImages, false);
    let imageBuffer = [];
    function uploadImages() {
        const images = this.files;
        let bufferLen = imageBuffer.length;
        console.log(bufferLen);
        for (let i = 0; i < images.length; i++) {
            const image = images[i];
            imageBuffer.push(image);
            let div1 = document.createElement("div");
            div1.className = "card mt-1 mb-1";
            div1.style.width = "100%";
            let div2 = document.createElement("div");
            div2.className = "row no-gutters";

            let img = document.createElement("img");
            img.src = URL.createObjectURL(image);
            img.style = "max-width:100px; max-height: 130px;";
            div2.appendChild(img);

            let div3 = document.createElement("div");
            div3.className = "card-body";

            let span = document.createElement("span");
            span.className = "card-text";
            span.style = "white-space: pre-line;";
            span.innerText = image.name;
            div3.appendChild(span);

            let button = document.createElement("button");
            button.className = "btn btn-primary float-right deleteImgBtn" + (i + bufferLen);
            button.innerText = "Delete";
            button.addEventListener("click", deleteImage);
            div3.appendChild(button);

            div2.appendChild(div3);
            div1.appendChild(div2);
            document.getElementById("image_list").appendChild(div1);
        }
    }

    // 이미지 삭제 버튼 클릭 -> 이미지 삭제
    function deleteImage() {
        // 인덱스 받아오기
        let index = $(this).parent().parent().parent().index();
        // 버퍼에서 이미지 삭제
        imageBuffer.splice(index,1);
        // 이미지 카드 삭제
        this.parentNode.parentNode.parentNode.parentNode.removeChild(this.parentNode.parentNode.parentNode);
    }

    // 시험 생성 버튼 클릭 -> ajax로 데이터 전송
    $('#makeTestRoomBtn').click( function () {     
    //    let con = confirm("시험을 생성하시겠습니까?");
    //    if (con == true) {

        // 차단 프로그램 리스트 스트링으로 변환
        let block_list = "";
        for (let i = 0; i < program_list.length; i++) {
                block_list += program_list[i] +";"
        }
        
        let date = document.getElementById('dateForm').value;
        let start_time = document.getElementById('starttimeForm').value;
        let end_time = document.getElementById('endtimeForm').value;

        let formdata = new FormData();
        formdata.append('test_room_id', '{{ test_room_id }}');
        formdata.append('professor_id', '{{ g.user.id }}');
        formdata.append('block_list', block_list);
        formdata.append('date', date);
        formdata.append('start_time', start_time);
        formdata.append('end_time', end_time);
        formdata.append('length', imageBuffer.length);
        for (let i = 0; i < imageBuffer.length; i++) {
            formdata.append(i, imageBuffer[i]);
        }
            
        $.ajax({
            url: '{{ url_for("test_room.make_ajax") }}',
            type: 'POST',
            contentType: false,
            processData: false,
            data: formdata,
            success: function(response) {
                console.log("ajax 통신 성공!" + response);
            },
            error: function(request, status, error) {
                console.log("ajax 통신 실패!");
                console.log(status);
                console.log(error);
            }
        });

        // 메뉴 페이지로 이동
        location.href="{{ url_for('test_room.menu') }}";
        // alert("시헙이 생성되었습니다!!");
       
   });

</script>

{% endblock %}