{% extends 'base.html' %}
{% block content %}

<div class="container mt-5 pt-5">
    <div class="row d-flex justify-content-center align-items-center">
        <a href="{{ url_for('test_room.make') }}" class="btn btn-primary btn-lg mb-2">시험 생성</a>
    </div>
    <div class="row d-flex justify-content-center align-items-center">
        <a href="#" class="btn btn-primary btn-lg mb-2">시험 수정</a>
    </div>
    <div class="row d-flex justify-content-center align-items-center">
        <a href="#" class="btn btn-primary btn-lg mb-2">시험 입장</a>
    </div>
</div>

{% endblock %}